@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {

  &__list {
    margin: 0;
    display: flex;
    list-style: none;
    justify-content: space-evenly;;
  }

  &__link {
    position: relative;
    overflow: hidden;
    padding: 7px 50px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 5px solid;
  }
}